/* General styling for the entire page */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  height: 100vh; /* Full viewport height */
  background-color: #1ED760; /* Set a green background */
  color: #fff;
  font-family: "jsMath-cmbx10", sans-serif;
  text-align: center;
}

.App-header h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  color: white;
  animation: fadeIn 1.5s ease-in-out;
}

/* Add animation for fading in */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Style for the button container */
.button-container {
  margin-top: 20px;
}

button {
  padding: 15px 30px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  background: linear-gradient(135deg, #ff6b6b, #ff8787);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #1ed760;
  transform: scale(1.05);
}

button:active {
  background-color: #1aa34a;
}

/* Style for the footer */
.footer {
  margin-top: 20px;
  font-size: 0.9rem;
  color: white;
  opacity: 0.8;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
